<!doctype html>
<html>
	<head>
	<title>Angular Test 1</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<link rel="stylesheet" href="css/main.css">
		
	</head>
	<body ng-app="colorApp">
		<div ng-controller="titleCtrl">
			<h1>{{title}}</h1>
		</div>

		<!--
		<div class="colorpicker" ng-controller="colorCtrl">
			<div><h3>Values</h3>
				<strong>Red Value:</strong> <input ng-model="inner.red">
				<p>&nbsp;{{inner.red}}</p>
				<strong>Green Value:</strong> <input ng-model="inner.green">
				<p>&nbsp;{{inner.green}}</p>
				<strong>Blue Value:</strong> <input ng-model="inner.blue">
				<p>&nbsp;{{inner.blue}}</p>
			</div>
			<br>
			<div><h3>Outer Values</h3>
				<strong>Red Value:</strong> <input ng-model="outer.red">
				<p>&nbsp;{{outer.red}}</p>
				<strong>Green Value:</strong> <input ng-model="outer.green">
				<p>&nbsp;{{outer.green}}</p>
				<strong>Blue Value:</strong> <input ng-model="outer.blue">
				<p>&nbsp;{{outer.blue}}</p>
			</div>
			<br>
			<div id="square" style="background:rgb({{inner.red}},{{inner.green}},{{inner.blue}}); border: 10px solid rgb({{outer.red}},{{outer.green}},{{outer.blue}});"></div>

		</div>
		<p>
		<hr>
		<p>
		-->
		<span ng-controller="charCtrl">
		<span ng-controller="canvCtrl">
			<div class="wrapper">
			<div class="idk">
			<canvas id="canvas" ng-click="colorClick()" ng-mousemove="colorPick()"></canvas></div>
				<div class="colorMenu">
					<strong>Active Color</strong>
					<div id="color" class="colorBox"></div>
					<strong>Selected Color</strong>
					<div id="color2" class="colorBox"></div>
					<strong>User-Defined Color</strong>
					<div id="color3" class="colorBox" style="background-color:rgba({{rgbVals.r}}, {{rgbVals.g}}, {{rgbVals.b}}, 255); color:{{setTextColor(rgbVals.r, rgbVals.g, rgbVals.b)}}">rgba({{rgbVals.r}}, {{rgbVals.g}}, {{rgbVals.b}}, 255)<br>hsl({{hslVals.h}}, {{hslVals.s}}, {{hslVals.l}})<br>hsv({{hsvVals.hh}}, {{hsvVals.ss}}, {{hsvVals.vv}})<br>{{hexVals}}</div>
						<div id="userVals"></div>
						
						<input type=checkbox ng-model=collapse></input>
						<div style="color:black" ng-show=collapse>
							<!--<p><strong>Red:</strong> <input ng-model="rgbVals.r" ng-change="replaceColor(colorA, colorB)" maxlength="3">
							<strong>Green:</strong> <input ng-model="rgbVals.g" ng-change="replaceColor(colorA, colorB)" maxlength="3">
							<strong>Blue:</strong> <input ng-model="rgbVals.b" ng-change="replaceColor(colorA, colorB)" maxlength="3"></p> -->
							<div class="row colourSlider">
								<div class="column">
									<br>
									R:
									<input ng-model="rgbVals.r" type="range" id="r" min="0" max="255" ng-change="setColorFromRgb()">

									<br>
									G:
									<input ng-model="rgbVals.g" type="range" id="g" min="0" max="255" ng-change="setColorFromRgb()">

									<br>
									B:
									<input ng-model="rgbVals.b" type="range" id="b" min="0" max="255" ng-change="setColorFromRgb()">
								</div>

								<div class="column">
									<br>
									
									<br>
									<input ng-model="rgbVals.r" ng-change="setColorFromRgb()" maxlength="3">

									<br>
									
									<br>
									<input ng-model="rgbVals.g" ng-change="setColorFromRgb()" maxlength="3">

									<br>
									
									<br>
									<input ng-model="rgbVals.b" ng-change="setColorFromRgb()" maxlength="3">
								</div>

								<div class="column">
									<br>
									H:
									<input ng-model="hslVals.h" type="range" id="h" min="0" max="360" ng-disabled="true">

									<br>
									S:
									<input ng-model="hslVals.s" type="range" id="s" min="0" max="100" ng-disabled="true">

									<br>
									L:
									<input ng-model="hslVals.l" type="range" id="l" min="0" max="100" ng-disabled="true">
								</div>

								<div class="column">
									<br>
									
									<br>
									<input ng-model="hslVals.h" ng-disabled="true" maxlength="3">&nbsp;<input ng-model="hsvVals.hh" ng-disabled="true">

									<br>
									
									<br>
									<input ng-model="hslVals.s" ng-disabled="true" maxlength="3">&nbsp;<input ng-model="hsvVals.ss" ng-disabled="true">

									<br>
									
									<br>
									<input ng-model="hslVals.l" ng-disabled="true" maxlength="3">&nbsp;<input ng-model="hsvVals.vv" ng-disabled="true">
								</div>

								<!--
								<div class="column">
									H:
									<input type="range" id="h" min="0" max="360" oninput="setColorFromHsl()">
									<br>
									S:
									<input type="range" id="s" min="0" max="100" oninput="setColorFromHsl()">
									<br>
									L:
									<input type="range" id="l" min="0" max="100" oninput="setColorFromHsl()">
								</div>
								-->
							</div>

						</div>
					</div>
				</div>
				
			</div>

			<div class="why">
				<button ng-click="replaceColor(colorA, colorB)">Replace Selected with User-Defined</button>
			</div>
	
		<!-- <button ng-click="pushVals()">Push Values</button>&nbsp; -->
		<select ng-model="selectedChar" ng-options="image.name for image in images"></select>
		<button ng-click="drawTest(selectedChar.id)">Draw {{selectedChar.name}}</button>&nbsp;
		<button ng-click="clear()">Clear</button>&nbsp;

		<span ng-controller="dragCtrl">
			<div id="colorTotal">
				<div id="colorMsg"></div>

				<div class="notTable">
					<span ng-repeat="color in allrgbVals | orderBy : parseInt">
						<my-draggable>rgba {{color}}</my-draggable>
					</span>
				</div>
			</div>

		<my-droppable></my-droppable>

		</span> <!-- end of dragdrop controller -->

		</span> <!-- end of canvas controller -->

		</span> <!-- end of character controller -->

		<!-- Modules -->
		<script src="scripts/main.js"></script>

		<!-- Directives -->
		<script src="scripts/directives/draggable.js"></script>
		<script src="scripts/directives/droppable.js"></script>
    	<!-- Controllers -->
    	<script src="scripts/controllers/FirstController.js"></script>
    	<script src="scripts/controllers/colorCtrl.js"></script>
    	<script src="scripts/controllers/charCtrl.js"></script>
    	<script src="scripts/controllers/canvCtrl.js"></script>
    	<script src="scripts/controllers/dragCtrl.js"></script>
	</body>
</html>